# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Streamlit cache
.streamlit/
**/cache/
**/__pycache__/

# Database files
*.db
*.sqlite
*.sqlite3

# System files
.DS_Store
Thumbs.db

# Virtual environments
venv/
.env/
*.env

# Python packages
*.egg
*.egg-info/
dist/
build/
*.egg-info/
pip-wheel-metadata/

# Log files
*.log

# VS Code settings
.vscode/

# IDE files
.idea/

# OS files
*.swp
*.swo

# Ignore image and dataset files (if not needed in the repo)
*.png
*.jpg
*.jpeg
*.csv
